* {
	margin: 0px;
	padding: 0px;
}

#content {
	text-align: center;
	padding-top: 15%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0,2);
}

html {
	height: 100%;
}
 body {
	background: #654ea3;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	background-position: center;
	font-family: 'Nanum Myeongjo', serif;
	color: white;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}


.panel-default > .panel-heading {
	background-color: #4C4C4C;
	color: white;
	font-size: 20px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.panel-body {
	background: #FFFFFF;
	color: #191919;
	font-size: 20;
}

li {
	margin-bottom: 10px;
}


